html {
    box-sizing: border-box;
    height: 100%;
    font-family: Arial, sans-serif;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 100px;
}

img {
    max-width: 300px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.highlighted {
    color: #FFFFFF;
    text-decoration: underline 2px;
}

.wrapper {
    display: grid;
    justify-items: center;
}

.flex {
    display: flex;
    padding: 1%;
}

header {
    padding: 1% 0;
    background-color: #3e383e;
    color: #FFFFFF;
    text-align: center;
}

q, .content-center {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

nav {
    background-color: #3e383e;
    color: #FFFFFF;
    display: flex;
    padding: 1% 0;
    justify-content: space-around;
    position: sticky;
    top: 0px;
}

hr {
    width: 100%;
    border-top: 3px double #3e383e;
    height: 2px;
    color: #3e383e;
    background-color: #3e383e;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
}

table .name {
    background-color: #d7d9f2;
}

table .other {
    background-color: #e9eaff;
}

footer {
    padding: 1%;
    background-color: #3e383e;
    color: #FFFFFF;
    text-align: center;
}

ol {
    list-style: none;
    counter-reset: li;
}

li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

.logo {
    width: 60px;
}

abbr {
    font-style: italic;
    color: chocolate;
}